<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class="tweet py-4 px-1 px-md-3 d-flex align-items-center justify-content-between" style="width: 100%;">
    <div style="flex-grow: 1; min-width: 0; display: flex; align-items: center;">
      <div class="flex-shrink-0 me-2" style="max-width: 50px;">
        <% if tweet_presenter.user && tweet_presenter.avatar.attached? %>
          <%= image_tag tweet_presenter.avatar, size: 48, class: "rounded-circle img-fluid" %>
        <% else %>
          <%= image_tag "default_avatar.png", size: 48, class: "rounded-circle img-fluid" %>
        <% end %>
      </div>
      <div class="tweet-body-container" style="flex-grow: 1; min-width: 0;">
        <span class="mb-1">@<%= tweet_presenter.username %></span>&nbsp;<span class="date-time fw-light text-secondary">• <%= tweet_presenter.created_at %></span>
        <p class="mb-0 ml-1 text-dark tweet-body" style="word-wrap: break-word; overflow-wrap: break-word;"> <%= tweet_presenter.body %> </p>
      </div>
    </div>
    <div class="thumbs-component" style="display: flex; align-items: center;">
      <div class="mt-2 me-2">
        <%= link_to tweet_path(tweet_presenter.tweet.id), data: { turbo: false }, class: "material-icons text-secondary text-decoration-none arrow-hover" do %>
          <i class="material-icons text-secondary text-decoration-none">chat_bubble_outline</i>
        <% end %>
      </div>
      <% if tweet_presenter.likes.include?(current_user.likes.find_by(tweet: tweet_presenter.tweet)) %>
        <%= link_to tweet_like_path(tweet_presenter.tweet, tweet_presenter.likes.find_by(user: current_user)), data: { 'turbo_method': 'delete' }, class: "material-icons text-secondary text-decoration-none arrow-hover" do %>
          <i class="material-icons text-secondary text-decoration-none">thumb_up</i>
        <% end %>
      <% else %>
        <%= link_to tweet_likes_path(tweet_presenter.tweet), data: { 'turbo_method': 'post' }, class: "material-icons text-secondary text-decoration-none arrow-hover" do %>
          <i class="material-icons text-secondary text-decoration-none">thumb_up_off_alt</i>
        <% end %>
      <% end %>
      <% if tweet_presenter.likes_count > 0 %>
        <span class="text-secondary mb-0 ms-2"><%= tweet_presenter.likes_count %></span>
      <% end %>
    </div>
  </div>
<% end %>
