      
<aside class="col side-navbar">
  <%= link_to root_path, class: "d-flex align-items-center px-3 mb-2" do %>
    <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "doge.png", width: "42" %></span>
  <% end %>
  <%= link_to root_path, class: "d-flex align-items-center fs-6" do %>
    <div class="px-2 py-2 d-flex align-items-center rounded-pill justify-content-center">
      <%= content_tag(:span, 'person', class: 'material-icons me-2') %>
      <span>profile</span>
    </div>
  <% end %>
  <%= link_to root_path, class: "d-flex align-items-center fs-6" do %>
    <div class="px-2 py-2 d-flex align-items-center rounded-pill justify-content-center">
      <%= content_tag(:span, 'notifications', class: 'material-icons me-2') %>
      <span>notifications</span>
    </div>
  <% end %>
  <%= link_to root_path, class: "d-flex align-items-center fs-6 mb-2" do %>
    <div class="px-2 py-2 d-flex align-items-center rounded-pill justify-content-center">
      <%= content_tag(:span, 'bookmarks', class: 'material-icons me-2') %>
      <span>bookmarks</span>
    </div>
  <% end %>
  <div class="px-2 py-2">
    <%= button_to 'sign out', destroy_user_session_path, method: :delete, class: 'btn btn-dark  btn-sm rounded-pill w-50' %>
  </div>
</aside>