<aside class="d-flex flex-column align-items-center justify-content-center side-navbar">
  <!-- Ensure this div takes the full width and centers its child -->
  <div class="d-flex align-items-center justify-content-start mt-3">
    <%= link_to root_path do %>
      <% if current_user && current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, size: "48x48", class: "rounded-circle" %>
      <% else %>
        <%= image_tag "default_avatar.png", size: "48x48", class: "rounded-circle" %>
      <% end %>
    <% end %>
  </div>

  <!-- Flex container for settings and logout buttons -->
  <div class="d-flex align-items-center justify-content-start mt-3">
    <div class="me-3">
      <%= link_to "/settings", method: :delete, class: 'btn btn-sm btn-light text-secondary rounded-circle center-icon' do %>
        <span class="material-icons">settings</span>
      <% end %>
    </div>
    <div>
      <%= button_to destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-light text-secondary rounded-circle center-icon' do %>
        <span class="material-icons">logout</span>
      <% end %>
    </div>
  </div>
</aside>
